<div ng-controller="accountCtrl">
	会员信息 -> 账户信息

	<table style="">
		<tr>
			<td>用户名:</td>
			<td><span>{{username}}</span></td>
		</tr>
		<tr>
			<td>E-Mail:</td>
			<td><input type="text" id="email" id="email" ng-model="account.email" /></td>
		</tr>
		<tr>
			<td>电话号码:</td>
			<td><input type="text" id="phone" id="phone" ng-model="account.phone" /></td>
		</tr>

	</table>
	<div style="height: 25px">
	<span id="moileMsg"></span>
	<span id="confirmMsg"></span> 
	</div>
	<input type="button" id="saveBtn" ng-click="margeUser()" value="保存">
</div>