<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>精英食品</title>
<link href="style/global.css" rel="stylesheet" type="text/css" />
<link href="style/member.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="memberCtrl">
<!--top ad-->
<div id="top_ad" class="center" style="background-color:#EB1521">
	<a href=""><img src="images/sample1.jpg" /></a>
</div>
<!--/top ad-->


<div id="bread">
	<div class="row">
    	<div class="left"><a href="" class="addfavor">收藏</a><a href="" class="sina">关注</a></div>
        <div class="right">
        你好， 欢迎来到精英食品！[<a href="">登录</a>][<a href="">注册</a>]
        <a class="line cart">购物车0件</a><a class="line order">我的订单</a>
        </div>
    </div>
</div>
<!--head-->
<div class="row clearfix">
    <div id="logo"><a href="index.html"><img src="images/logo.jpg" /></a></div>
    <div id="search">
    	<div class="search_box"><input type="text" name="keyword" value="" /></div>
        <div class="search_btn"><input type="submit" name="search" value="搜索" /></div>
        <div class="search_keywords">
        	<a href="" class="key_btn">热门搜索</a>
            <ul>
            <li><a href="">阿克苏苹果</a></li>
            <li><a href="">葡萄酒</a></li>
            <li><a href="">蜂蜜</a></li>
            <li><a href="">奶粉</a></li>
            </ul>
        </div>
    </div>
    <div id="head_right"><img src="images/img1.jpg" /></div>
</div>
<!--/head-->

<div id="nav">
	<div class="row">
    	<div class="nav_category">
        	<div class="nav_cate_all"><a href="">全部商品分类</a></div>
        </div>
        <ul class="nav">
        	<li class="cur"><a href="">首 页</a></li>
            <li><a href="">海 鲜</a></li>
            <li><a href="">特 产</a></li>
            <li><a href="">红 酒</a></li>
            <li><a href="">团 购</a></li>
            <li><a href="">品牌街</a></li>
            <li><a href="">海洋食品文化中心</a></li>
        </ul>
    </div>
</div>

<div class="space20"></div>
<!--main-->
<div class="row clearfix">
    <!--left-->
    <div class="member_left">
    	<div class="member_pic"><img src="images/sample3.jpg" /></div>
        <div class="member_name">TSMER934984</div>
        <dl class="member_nav">
        	<dt>交易管理</dt>
            <dd ng-class="{'cur': pageID == 1}"><a href="#/order" ng-click="pageSelect(1)">我的订单</a></dd>
            <dd ng-class="{'cur': pageID == 2}"><a href="#/criticism" ng-click="pageSelect(2)">商品评论</a></dd>
            <dd ng-class="{'cur': pageID == 3}"><a href="#/collect" ng-click="pageSelect(3)">我的收藏</a></dd>
            <dd ng-class="{'cur': pageID == 4}"><a href="#/change" ng-click="pageSelect(4)">帐户余额</a></dd>
            <!--<dd><a href="">我的积分</a></dd>-->
            <dd ng-class="{'cur': pageID == 5}"><a href="#/coupon" ng-click="pageSelect(5)">我的优惠券</a></dd>
            <dt>会员信息</dt>
            <dd ng-class="{'cur': pageID == 6}"><a href="#/account" ng-click="pageSelect(6)">帐户信息</a></dd>
            <dd ng-class="{'cur': pageID == 7}"><a href="#/changepwd" ng-click="pageSelect(7)">修改密码</a></dd>
            <dd ng-class="{'cur': pageID == 8}"><a href="#/receivedaddress" ng-click="pageSelect(8)">收货地址</a></dd>
        </dl>
    </div>
    <!--/left-->
    <!--right-->
    <div class="member_right">
    	<div class="member_info clearfix">
            <span class="account_alert">优惠券<br /><span><span class="f12">¥</span>5.00</span></span>
            <span class="account_alert">余额<br /><span><span class="f12">¥</span>0.0</span></span>
            <span class="account_alert">积分<br /><span>10000</span></span>
            <span class="member_ico"></span>
            <span class="member_grade">TSMER934984  (rae_dong@163.com)<br />
            普通会员  目前安全级别 低 <span class="safe_l"></span><!--中级/高级<span class="safe_m"></span><span class="safe_h"></span>-->
            </span>
        </div>
        <div class="space20"></div>
        
		<div ng-view></div>
        
        
    </div>
    <!--/right-->
</div>
<!--/main-->
<div class="space20"></div>

<div id="bottom">
	<div class="row">
    
    </div>
</div>

<div id="guarantee"><img src="images/guarantee.gif" /></div>

<div id="footer" class="member_row center">
    <a href="" title="">关于精英食品</a> |　<a href="" title="">客服中心</a> | <a href="" title="">联系我们</a>　| <a href="" title="">友情链接</a><br />
    &copy; 2014 www.infoyu.com 精英食品有限公司<br />
    增值电信经营许可证号:粤B2-20110495  网站备案号:粤B2-20030128号<br />    
    <img src="images/unionpay.gif" /><img src="images/govIcon.gif" /><img src="images/xfz.gif" /><img src="images/VieID_140_50.png" />
</div>

</body>

<script src="../vendor/jquery/jquery-1.10.2.js"></script>
<SCRIPT src="../js/lrscroll.js"></SCRIPT>
<script src="../vendor/jquery/jquery.html5uploader.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../vendor/angular/angular-route.min.js"></script>

<!-- core -->
<SCRIPT src="../js/module.js"></SCRIPT>
<SCRIPT src="../js/http-service.js"></SCRIPT>
<!-- core -->

<SCRIPT src="js/route.js"></SCRIPT>

<!-- service -->
<SCRIPT src="js/services/member-service.js"></SCRIPT>
<SCRIPT src="js/services/account-service.js"></SCRIPT>
<SCRIPT src="js/services/change-service.js"></SCRIPT>
<SCRIPT src="js/services/changepwd-service.js"></SCRIPT>
<SCRIPT src="js/services/collect-service.js"></SCRIPT>
<SCRIPT src="js/services/coupon-service.js"></SCRIPT>
<SCRIPT src="js/services/criticism-service.js"></SCRIPT>
<SCRIPT src="js/services/order-service.js"></SCRIPT>
<SCRIPT src="js/services/receivedaddress-service.js"></SCRIPT>
<!-- service -->

<!-- controller -->
<SCRIPT src="js/controllers/member-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/account-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/change-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/changepwd-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/collect-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/coupon-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/criticism-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/order-ctrl.js"></SCRIPT>
<SCRIPT src="js/controllers/receivedaddress-ctrl.js"></SCRIPT>
<!-- controller -->

<script>
function g(tab){return document.getElementById(tab);} 
function hoverLi(n,nm,c){ 
	for(var i=1;i<=nm;i++){   //如果有N个标签,就将i<=N; 
		g(c+'tb_'+i).className='';
		g(c+'tbc_'+i).className='undis';
	}
	g(c+'tbc_'+n).className='dis';
	g(c+'tb_'+n).className='main_labels'; 
} 
</script>
</html>
