@charset "utf-8";
/*
css of index
*/
.type_nav { float:left; }
.type_list li { float:left; width:96px; height:30px; line-height:30px; margin:0 0 5px 10px; display:inline; }
	.type_list li a { display:block; width:96px; height:30px; line-height:30px; text-align:center; }
.type_ad { float:left; width:473px; height:230px; }
.goods_price { color:#E50F13; }

/* top */
#slide { height:320px; overflow:hidden; }
/******轮播效果********/
.fullSlide {
	clear:both;
	width:100%;
	position:relative;
	height:537px;
	background:#000;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:537px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:537px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0px;
	left:0;
	height:0px;
	line-height:0px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
	*display:inline;
	zoom:1;
	margin:0px 10px 10px 0px;
	width:78px;
	height:18px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#f00;
}

/* tegong */
.goods_price { color:#EB1420; }
#tegong { height:278px; background:url('../images/index_bg.jpg') no-repeat 0px 0px; margin-top:40px; margin-bottom:0px; padding:70px 0 0; }
	#tegong .goods_list { height:200px; }
	#tegong li { float:left; width:355px; height:190px; background-color:#FFFFFF; position:relative; padding:10px 10px 0; margin-left:15px; display:inline; border:1px solid #FFFFFF; }
	#tegong li:hover { border-color:#EB1521; background-color:#F9F9F9; }
	#tegong li .list_pic { float:left; width:180px; height:180px; }
	#tegong li .list_pic img { width:180px; height:180px; }
	#tegong li .list_name { float:left; padding-left:15px; width:150px; font-size:14px; max-height:70px; overflow:hidden; line-height:1.5; padding-top:30px; }
	#tegong li .list_price { float:left; padding-left:15px; width:150px; height:40px; line-height:30px; padding-top:5px; }
	#tegong li .goods_price { font-size:22px; }
	#tegong li .goods_price span { font-size:12px; }
	#tegong li .list_buy { text-align:center; }
	#tegong li .list_buy a { display:inline-block; background:url('../images/bg1.png') no-repeat 0px -110px; width:81px; height:30px; line-height:28px; color:#FFFFFF; font-size:18px; letter-spacing:3px; }
	#tegong li .list_discount { position:absolute; top:-10px; left:140px; color:#FFFFFF; text-align:center; width:66px; height:61px; line-height:61px; overflow:hidden; background:url('../images/bg1.png') no-repeat 0px -0px; }
	#tegong li .list_discount span { font-size:26px; }
	

/* group */
#group { margin-bottom:20px; }
#group_t { height:50px; background:url('../images/index_bg.jpg') no-repeat 0px -378px; margin-bottom:10px; }
#group_c { height:400px; position:relative; }
	#group_c li { float:left; width:230px; height:400px; background-color:#F9F9F9; position:relative; margin-left:12px; display:inline; }
	#group_c li.list_first { margin-left:0px; }
	.list_c { border:1px solid #E0E0E0; }
	#group_c li:hover .list_c { border:1px solid #EB1521; }
	#group_c li .list_pic { padding:4px 0 10px; text-align:center; }
	#group_c li .list_pic img { width:220px; height:220px; }
	#group_c li .list_name { padding:0 10px; font-size:14px; height:70px; overflow:hidden; line-height:1.5; }
	#group_c li .goods_price { float:left; padding-left:15px; width:100px; height:50px; line-height:30px; font-size:22px; }
	#group_c li .goods_price span { font-size:12px; }
	#group_c li .list_buy { float:right; margin-right:10px; display:inline; width:81px; }
	#group_c li .list_buy a { display:inline-block; background:url('../images/bg1.png') no-repeat 0px -110px; width:81px; height:30px; line-height:28px; color:#FFFFFF; font-size:18px; letter-spacing:3px; text-align:center; }
	#group_c li .list_action { clear:both; border-top:1px solid #E0E0E0; }
	#group_c li .list_action span { display:inline-block; height:43px; line-height:43px; }
	#group_c li .list_action .view { width:110px; text-align:center; }
	#group_c li .list_action .favor { width:113px; border-left:1px solid #E0E0E0; text-align:center; }
	#group_c li .list_action a { display:inline-block; color:#666666; padding-left:32px; background:url('../images/icon.png') no-repeat 10px -669px; line-height:43px; }
	#group_c li .list_action a:hover { color:#F85F51; }
	#group_c li .list_action .view a { background-position:10px -665px;}
	#group_c li .list_action .favor a { background-position:10px -700px; }
	#group_c li .list_action .view a:hover { background-position:-140px -665px; }
	#group_c li .list_action .favor a:hover { background-position:-140px -700px; }
#group_c .arr { width:26px; height:48px; position:absolute; top:150px; }
	#group_c .arr.goright { right:-5px; }
	#group_c .arr.goleft { left:-5px; }
	#group_c .arr a { display:block; width:26px; height:48px; }
	#group_c .arr.goright a { background:url('../images/arr.png') no-repeat -53px 0px; }
	#group_c .arr.goleft a { background:url('../images/arr.png') no-repeat -0px 0px; }


/* brand */
#brand { background-color:#F4F4F4; height:110px; padding-top:4px; margin-bottom:20px; }
	#brand ul { margin:0px 0 0px 5px; }
	#brand li { float:left; width:130px; height:50px; text-align:center; margin:2px 0 0 2px; display:inline; background-color:#FFF; }
	#brand li img { height:40px; width:109px; vertical-align:middle; }
	
	
/* seafood */
#seafood_line { background:url('../images/index_bg.jpg') no-repeat -0px -470px; height:40px; }
#seafood { margin-bottom:20px; }
	#seafood .type_nav { width:230px; }
	#seafood .type_name { height:82px; background:#86CFDE; color:#168BAD; font-size:20px; padding-left:20px; padding-top:20px; letter-spacing:3px; }
	#seafood .type_name h3 { color:#FFF; font-size:20px; font-weight:normal; margin-bottom:5px; }
	#seafood .type_name h3 span { font-size:38px; }
	#seafood .type_list { background-color:#F5F5F5; height:230px; overflow:hidden; padding:21px 0 0 5px; }
	#seafood .type_list li a { background:url('../images/bg1.png') no-repeat -0px -195px; }
	#seafood .type_list li a:hover { background-position:-0px -160px; color:#FFFFFF; }
#seafood .type_ad { margin-left:12px; margin-bottom:12px; display:inline; }
#seafood .goods_list li { float:left; width:471px; height:228px; margin-left:12px; margin-bottom:12px; display:inline; border:1px solid #E0E0E0; position:relative; }
	#seafood .goods_list li:hover { border-color:#E50F13; }
	#seafood .list_pic { width:228px; }
	#seafood li.list_right .list_pic { float:right; padding-left:10px; }
	#seafood li.list_left .list_pic { float:left; }
	#seafood .list_pic img { width:228px; height:228px; }
	#seafood .list_name { width:210px; padding:15px 0 5px 20px; float:left; font-size:14px; line-height:1.6; max-height:45px; overflow:hidden; }
	#seafood .list_info { color:#999; width:210px; padding:0 0 0 20px; float:left; line-height:1.5; }
	#seafood .list_price { width:210px; padding:0 0 0 20px; float:left; }
	#seafood .goods_price { font-size:20px; }
	#seafood .goods_price span { font-size:14px; }
	#seafood li.list_right .list_buy { left:70px; }
	#seafood li.list_left .list_buy { right:70px; }
	#seafood .list_buy { width:91px; position:absolute; bottom:25px; }
	#seafood .list_buy a { display:inline-block; background:url('../images/bg1.png') no-repeat -119px -110px; width:91px; height:35px; line-height:32px; color:#FFFFFF; font-size:20px; letter-spacing:3px; text-align:center; }
	
	
/* techan */
#techan { border-top:10px solid #CAF0D5; margin-bottom:20px; }
	#techan .type_nav { width:477px; }
	#techan .type_name { float:left; width:208px; height:210px; background:#CAF0D5 url('../images/techan_bg.jpg') no-repeat 0px bottom; color:#489E62; font-size:20px; padding-left:20px; padding-top:20px; letter-spacing:3px; }
	#techan .type_name h3 { font-size:20px; font-weight:normal; margin-bottom:5px; }
	#techan .type_name h3 span { font-size:38px; }
	#techan .type_list { float:left; width:237px; background:#F5F5F5; height:216px; overflow:hidden; padding:15px 0 0 10px; }
	#techan .type_list li a { background:url('../images/bg1.png') no-repeat -0px -270px; }
	#techan .type_list li a:hover { background-position:-0px -235px; color:#489E62; }
#techan .type_ad,#techan .type_ad1 { margin-left:10px; margin-bottom:10px; display:inline; height:230px; }
#techan .goods_list { clear:both; }
	#techan .goods_list li { float:left; width:230px; height:320px; margin-left:10px; margin-bottom:12px; display:inline; border:1px solid #E0E0E0; position:relative; }
	#techan .goods_list li.list_first { margin-left:0; }
	#techan .goods_list li:hover { background:#F3F3F3; }
	#techan .goods_list li:hover .list_pic { background:#E50F13; }
	#techan .list_pic { text-align:center; padding:6px 0; }
	#techan .list_pic img { width:218px; height:218px; }
	#techan .list_name { padding:5px 10px; font-size:14px; line-height:1.6; max-height:45px; overflow:hidden; }
	#techan .goods_price { font-size:20px; text-align:center; }
	#techan .goods_price span { font-size:14px; }
	#techan .list_action { width:230px; position:absolute; top:180px; text-align:center; display:none; }
	#techan .list_action a { display:inline-block; width:38px; height:38px; margin:0 5px; }
	#techan .list_action a.view { background:url('../images/bg1.png') no-repeat -118px -0px; }
	#techan .list_action a.buy { background:url('../images/bg1.png') no-repeat -162px -0px; }
	
	
/* wine */
#wine { border-top:10px solid #F6D6D6; margin-bottom:20px; }
	#wine .type_nav { width:477px; }
	#wine .type_name { float:left; width:208px; height:210px; background:#F6D6D6 url('../images/wine_bg.jpg') no-repeat right bottom; color:#C53838; font-size:20px; padding-left:20px; padding-top:20px; letter-spacing:3px; }
	#wine .type_name h3 { font-size:20px; font-weight:normal; margin-bottom:5px; }
	#wine .type_name h3 span { font-size:38px; }
	#wine .type_list { float:left; width:237px; background:#F5F5F5; height:216px; overflow:hidden; padding:15px 0 0 10px; }
	#wine .type_list li a { background:url('../images/bg1.png') no-repeat -0px -350px; }
	#wine .type_list li a:hover { background-position:-0px -315px; color:#C53838; }
#wine .type_ad,#wine .type_ad1 { margin-left:10px; margin-bottom:10px; display:inline; height:230px; }
#wine .goods_list { clear:both; }
	#wine .goods_list li { float:left; width:230px; height:320px; margin-left:10px; margin-bottom:12px; display:inline; border:1px solid #E0E0E0; position:relative; }
	#wine .goods_list li.list_first { margin-left:0; }
	#wine .goods_list li:hover { background:#F3F3F3; }
	#wine .goods_list li:hover .list_pic { background:#E50F13; }
	#wine .list_pic { text-align:center; padding:6px 0; }
	#wine .list_pic img { width:218px; height:218px; }
	#wine .list_name { padding:5px 10px; font-size:14px; line-height:1.6; max-height:45px; overflow:hidden; }
	#wine .goods_price { font-size:20px; text-align:center; }
	#wine .goods_price span { font-size:14px; }
	#wine .list_action { width:230px; position:absolute; top:180px; text-align:center; display:none; }
	#wine .list_action a { display:inline-block; width:38px; height:38px; margin:0 5px; }
	#wine .list_action a.view { background:url('../images/bg1.png') no-repeat -118px -0px; }
	#wine .list_action a.buy { background:url('../images/bg1.png') no-repeat -162px -0px; }