@charset "utf-8";
.goods_price { color:#E50F13; }

/* cart */
#flow_pic { margin-top:30px; margin-bottom:15px; }
.cart table { border:1px solid #D7D7D7; border-bottom:none; border-top:3px solid #EB1521; }
	.cart th { height:20px; background-color:#F6F6F6; }
	.cart td { border-bottom:1px solid #D7D7D7; padding-top:10px; padding-bottom:10px; }
	.cart .order_list_p img { width:80px; height:80px; }
	.txt_num { height:26px; border:1px solid #D7D7D7; line-height:26px; text-align:center; width:40px; font-size:14px; background:url('../images/txtbg.jpg') repeat-x 0px 0px; }
	.cart .desc { background:url('../images/icon.png') no-repeat 0px -979px; border:none; height:28px; line-height:26px; text-align:center; width:22px; font-size:14px; cursor:pointer; }
	.cart .add { background:url('../images/icon.png') no-repeat -56px -979px; border:none; height:28px; line-height:26px; text-align:center; width:22px; font-size:14px; cursor:pointer; }
.cart_action { padding:20px 10px; }
	.cart_action .left { font-size:14px; }
	.cart_action .left .red { font-size:24px; }
	.cart_action .right img { margin-left:15px; }
.member_title { border-bottom:3px solid #E0E0E0; line-height:40px; height:40px; position:relative; margin-bottom:15px; }
	.member_title h5 { font-size:16px; float:left; font-weight:normal; padding:0 0 0 20px; }
.youlike li { float:left; width:230px; height:320px; border:1px solid #E0E0E0; background-color:#F9F9F9; overflow:hidden; margin-left:10px; display:inline; }
	.youlike li.list_first { margin-left:0; }
	.youlike li:hover { border:1px solid #EB1521; }
	.youlike .goods_p { background-color:#FFFFFF; padding:5px; }
	.youlike .goods_p img { width:220px; height:220px; }
	.youlike .goods_t { padding:0 10px; line-height:1.7; height:50px; overflow:hidden; }
	.youlike .goods_price { float:left; font-size:22px; color:#EB1521; padding:0 0 0 10px; }
	.youlike .goods_price span { font-size:14px; }
	.youlike .goods_btn { float:right; padding:0 10px 0 0; }


/* flow */
.flow_title { border-bottom:3px solid #E0E0E0; line-height:40px; height:40px; position:relative; margin-bottom:15px; margin-top:20px; }
	.flow_title h5 { font-size:16px; font-weight:normal; padding:0 10px; border-bottom:3px solid #EB1521; position:absolute; top:0; left:0; }
#pay .flow_title span { margin-left:140px; color:#999999; }
.flow_info { padding-left:30px; }
.flow_box { border:1px solid #D7D7D7; background-color:#F6F6F6; padding:10px 30px; }
.save_btn { color:#FFFFFF; width:130px; height:37px; line-height:37px; text-align:center; font-size:14px; background:url('../images/icon.png') no-repeat -165px -0px; border:none; }
#other dt { padding-left:25px; background:url('../images/icon.png') no-repeat 0px -1012px; height:30px; line-height:30px; font-size:14px; }
	#other dd { padding-left:30px; margin:5px 10px; }
	.txt { height:24px; border:1px solid #D7D7D7; line-height:24px; background:url('../images/txtbg.jpg') repeat-x 0px 0px; padding:0 3px; }
	.btn1 { height:26px; border:1px solid #D7D7D7; line-height:26px; background:#EFEFEF url('../images/bg2.jpg') repeat-x 0px 0px; padding:0 20px; vertical-align:middle; }
#cart_goods table { border:1px solid #D7D7D7; border-bottom:none; }
	#cart_goods th { height:20px; background-color:#F6F6F6; }
	#cart_goods td { border-bottom:1px solid #D7D7D7; padding-top:10px; padding-bottom:10px; }
	#cart_goods .order_list_p img { width:80px; height:80px; }
#flow_total { background-color:#F6F6F6; padding:10px 20px; font-size:14px; text-align:right; line-height:2.1; }
	#flow_total .red { font-size:24px; }
	#flow_total img { margin:0 0 10px; }
	

/* done */
.flow_done { border:1px solid #E6E6E6; background-color:#FAFAFA; padding:20px; }
.done_info { background:url('../images/img2.jpg') no-repeat 0px 30px; padding:30px 0 0 250px; margin:0 300px; font-size:18px; height:200px; line-height:1.7; }
	.done_info h5 { font-size:24px; font-weight:normal; color:#ED1625; margin-bottom:5px; }
.done_detail { text-align:center; border-top:1px solid #E6E6E6; padding:20px 0; }




/* category */
#cate_filter { margin-bottom:20px; }
.filter_title { background-color:#F7F7F7; border:1px solid #DEDEDE; line-height:35px; padding:0 15px; font-size:16px; }
.filter_list dl { border:1px solid #DEDEDE; border-top:none; padding:8px 0; }
	.filter_list dt { float:left; width:30px; padding-left:15px; }
	.filter_list dd { float:left; width:1120px; padding-left:15px; }
	.filter_list dd a { display:inline-block; margin-right:20px; padding:0 5px; }
	.filter_list dd a.cur { color:#FFFFFF; background-color:#FFBB2A; }
	.filter_list dd .filter_cat { float:left; position:relative; }
	.filter_list dd .filter_cat a { border:1px solid #DDDDDD; padding-right:20px; background:#F6F6F6 url('../images/icon1.png') no-repeat 92% 7px; }
	.filter_list dd .filter_cat ul { position:absolute; top:25px; left:0; border:1px solid #DDD; border-top:none; background:#F6F6F6; }
	.filter_list dd .filter_cat li a { margin-right:0; padding:0 5px; background-image:none; border:none; min-width:39px; }
#cate_order { margin-bottom:20px; background-color:#F7F7F7; height:40px; }
#cate_order .left { border-left:1px solid #D3D3D3; }
	#cate_order .left a { display:block; line-height:38px; padding:0 15px; font-size:14px; border:1px solid #D3D3D3; border-left:none; margin:0; float:left; }
	#cate_order .left a.default.cur { background-color:#EB1521; color:#FFFFFF; }
	#cate_order .left a.cate_orderby { padding-right:25px; }
	#cate_order .left a.cate_orderby.cur { background:url('../images/icon1.png') no-repeat 90% -13px; }
	#cate_order .left a.cate_orderby.desc { background:url('../images/icon1.png') no-repeat 90% -73px; }
	#cate_order .left a.cate_orderby.asc { background:url('../images/icon1.png') no-repeat 90% -43px; }
#cate_order .right { padding-right:10px; }
	#cate_order a.cate_page { display:inline-block; border:1px solid #E5E5E5; background-color:#EFEFEF; width:20px; height:20px; line-height:20px; font-size:14px; margin:10px 0 0 5px; text-align:center; }

#cate_list { margin-bottom:20px; }	
	#cate_list li { float:left; width:230px; height:360px; background-color:#F9F9F9; border:1px solid #E0E0E0; margin-left:10px; margin-bottom:30px; display:inline; text-align:center; }
	#cate_list li.list_first { margin-left:0px; }
	#cate_list li:hover { border-color:#EB1521; }
	#cate_list li .list_pic { padding:4px 0; background-color:#FFFFFF; }
	#cate_list li .list_pic img { width:220px; height:220px; }
	#cate_list li .list_name { padding:5px 10px 0; height:40px; overflow:hidden; line-height:1.5; }
	#cate_list li .list_price { padding:5px 0; }
	#cate_list li .goods_price { line-height:30px; font-size:22px; }
	#cate_list li .goods_price span { font-size:12px; }
	#cate_list li .list_buy a { display:inline-block; background:url('../images/bg1.png') no-repeat 0px -110px; width:81px; height:30px; line-height:28px; color:#FFFFFF; font-size:18px; letter-spacing:3px; text-align:center; }
.page_turner { text-align:center; clear:both; margin:20px 0; }
	.page_turner a { display:inline-block; padding:0 15px; line-height:38px; font-size:14px; border:1px solid #DDD; background-color:#F3F3F3; margin:0 2px; }
	.page_turner a.page_disable { color:#999999; background-color:#FFFFFF; }
	.page_turner a.page_cur { color:#EB1521; background:none; border:none; }
	.page_turner a.page_other { background:none; border:none; }
	
	
/* goods */
#goods_recommend { border:1px solid #DEDEDE; margin-bottom:20px; }
	.goods_recommend_t { color:#EB1521; font-size:16px; line-height:40px; padding-left:20px; }
	#goods_recommend li { float:left; width:160px; height:240px; margin:0 20px; margin-bottom:30px; display:inline; }
	#goods_recommend li .list_pic { padding:4px 0; background-color:#FFFFFF; }
	#goods_recommend li .list_pic img { width:160px; height:160px; }
	#goods_recommend li .list_name { padding:5px 10px 0; height:40px; overflow:hidden; line-height:1.5; }
	#goods_recommend li .list_price { padding:5px 0; }
	#goods_recommend li .goods_price { line-height:30px; font-size:22px; }
	#goods_recommend li .goods_price span { font-size:12px; }