<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>精英食品</title>
<link href="style/global.css" rel="stylesheet" type="text/css" />
<link href="style/member.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="member_head" class="member_row">
	<div class="mem_headtitle">会员登录</div>
</div>

<div class="member_row" ng-controller="loginCtrl">
    <div id="login" class="clearfix">
        <div id="mem_arr"></div>
        <div class="right">
        	<div class="title"><a href="register.html">注册新帐号</a></div>
            <div class="form">
            	<div class="line" id="username">
            		<input type="text" name="username" value="" class="log_txt" ng-model="user.username"/>
            	</div>
                <div class="line" id="password">
                	<input type="password" name="password" value="" class="log_txt" ng-model="user.password"/>
                </div>
                <!-- 
                <div class="line" id="password">
                	<img src="../login/securityCode.action" id="Verify" ng-click="updateJpg($event.target)" style="cursor:hand;" alt="看不清，换一张"/>
                </div>
                 -->
                <div class="line"><span><a href="" class="blue">忘记密码，点这里</a></span><input type="checkbox" name="remember" id="remember" value="1" /> <label for="remember" class="blue">记住密码</label></div>
                <div class="line"><input type="button" name="tijiao" value="登录" class="log_btn" ng-click="login()"/></div>
                <div class="line center" id="oath"><a href=""><img src="images/weibo.jpg" alt="微博登录" /></a><a href=""><img src="images/qq.jpg" alt="QQ登录" /></a></div>
            </div>
        </div>
        <div class="left">
        <img src="images/login_ad.jpg" />
        </div>
    </div>
</div>
<div class="space20"></div>

<div id="footer" class="member_row center">
    <a href="" title="">关于精英食品</a> |　<a href="" title="">客服中心</a> | <a href="" title="">联系我们</a>　| <a href="" title="">友情链接</a><br />
    &copy; 2014 www.infoyu.com 精英食品有限公司<br />
    增值电信经营许可证号:粤B2-20110495  网站备案号:粤B2-20030128号<br />    
    <img src="images/unionpay.gif" /><img src="images/govIcon.gif" /><img src="images/xfz.gif" /><img src="images/VieID_140_50.png" />
</div>

<script src="../vendor/jquery/jquery-1.10.2.js"></script>
<script src="../vendor/angular/angular.js"></script>
<script src="../vendor/angular/angular-route.min.js"></script>
<script src="../vendor/angular/angular-ui-router.min.js"></script>

<!-- core -->
<SCRIPT src="../js/module.js"></SCRIPT>
<SCRIPT src="../js/http-service.js"></SCRIPT>
<!-- core -->

<!-- service -->
<SCRIPT src="js/services/login-service.js"></SCRIPT>
<!-- service -->

<!-- controller -->
<SCRIPT src="js/controllers/login-ctrl.js"></SCRIPT>
<!-- controller -->

</body>

</html>
